@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inter:opsz,wght@14..32,100..900&family=Poppins:wght@400;500;600;700;800;900&display=swap');

.font-poppins{
    font-family: "Poppins", serif;
}
.font-anton{
    font-family: "Anton", serif;
}
.font-inter{
    font-family: "Inter", serif;
}
